{% extends 'base.html.twig' %}

{% block title %}Vtt En Coeur de garonne{% endblock %}
{% block body %}


<h1>Demande d'hadesion</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolore, deserunt quas repellendus laudantium veniam natus cum veritatis. Deleniti obcaecati rem placeat odit delectus officia, ducimus itaque recusandae ea autem at reprehenderit qui mollitia, numquam illo atque dolore alias nemo, eaque ad. Labore, dignissimos ab! Ducimus magnam quia ex vitae?</p>

{% endblock %}