{% extends 'base.html.twig' %}

{% block title %}Actualité | {{parent()}}{% endblock %}
{% block body %}


<h1>edition d'un Post</h1>

{{ form_start(form)}}
    {{ form_widget(form)}}
    
    <button class = "btn btn-primary" type="submit"> editer </button>
    
    {{ form_end(form)}}

{% endblock %}